doctype html
html
    head
        meta(charset='utf-8')
        title: !=title
        link(rel='stylesheet', href='components/normalize.css/normalize.css')
        link(rel='stylesheet', href='components/markdown.css/markdown.css')
        link(rel='stylesheet', href='highlight/github.css')
        link(rel='stylesheet', href="/#{usercss}")
    body
        !=content